extends base
prepend vars
append vars
        - link.appleTouchIcon180x180 = '/apple-touch-icon.png'
        - link.icon = '/favicon.ico'
        - link.icon16x16 = '/favicon-16x16.png'
        - link.icon32x32 = '/favicon-32x32.png'
        - link.icon192x192 = '/android-chrome-192x192.png'
        - link.icon256x256 = '/android-chrome-256x256.png'
        - link.maskIcon.color = '#000'
        - meta.themeColor = '#000'
        - meta.viewport = 'width=device-width, initial-scale=1, maximum-scale=1'
block content
        include components/header
        include pages/home
        include components/footer
