@font-face {
	src: url("../fonts/InterTight/InterTight-Black.woff2") format("woff2"), url("../fonts/InterTight/InterTight-Black.woff") format("woff");
	font-family: "InterTight";
	font-weight: 900;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-ExtraBold.woff2") format("woff2"), url("../fonts/InterTight/InterTight-ExtraBold.woff") format("woff");
	font-family: "InterTight";
	font-weight: 800;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-Bold.woff2") format("woff2"), url("../fonts/InterTight/InterTight-Bold.woff") format("woff");
	font-family: "InterTight";
	font-weight: 700;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-SemiBold.woff2") format("woff2"), url("../fonts/InterTight/InterTight-SemiBold.woff") format("woff");
	font-family: "InterTight";
	font-weight: 600;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-Medium.woff2") format("woff2"), url("../fonts/InterTight/InterTight-Medium.woff") format("woff");
	font-family: "InterTight";
	font-weight: 500;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-Regular.woff2") format("woff2"), url("../fonts/InterTight/InterTight-Regular.woff") format("woff");
	font-family: "InterTight";
	font-weight: 400;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-Light.woff2") format("woff2"), url("../fonts/InterTight/InterTight-Light.woff") format("woff");
	font-family: "InterTight";
	font-weight: 300;
	font-style: normal;
        font-display: swap;
}
@font-face {
	src: url("../fonts/InterTight/InterTight-Italic.woff2") format("woff2"), url("../fonts/InterTight/InterTight-Italic.woff") format("woff");
	font-family: "InterTight";
	font-weight: 400;
	font-style: italic;
        font-display: swap;
}