$color-white: #fff;
$color-gray: #eee;
$color-black: #000;


$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-main: "Inter";


$desktop: 992;
$desktop-xl: 1680;
$laptop: 1440;
$tablet: 576;
$mobile: 320;
$desktop-vh: 750;

$container-laptop: 1320;
$container-fullhd: 1680;
$container-padding-laptop: 0;
$container-padding-full-hd: 0;
$container-padding-tablet: 20;
$container-padding-mobile: 20;
